a,
body,
caption,
div,
h1,
h2,
h3,
h4,
h5,
html,
iframe,
li,
p,
span,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

[hidden] {
  display: none;
}

ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
td,
th {
  font-weight: 400;
  text-align: left;
  padding: 5px;
}

a {
  background-color: transparent;
}

a img {
  border: 0;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  text-transform: none;
  font-size: 17px;
  line-height: 1.5;
}

p {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

table,
td,
th {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.5em;
  width: 100%;
}

td,
th {
  padding: 8px;
}

th {
  border-width: 0 1px 1px 0;
}

td {
  border-width: 0 1px 1px 0;
}

h1 {
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: none;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: none;
}

h3 {
  font-size: 29px;
  margin-bottom: 20px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: none;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h4,
h5 {
  margin-bottom: 20px;
}

ul {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

li > ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}

strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid transparent;
  background: #55555e;
  cursor: pointer;
  -webkit-appearance: button;
  padding: 10px 20px;
  color: #fff;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  background: #fafafa;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 10px 15px;
  box-sizing: border-box;
  max-width: 100%;
}

textarea {
  overflow: auto;
  vertical-align: top;
  width: 100%;
}

a,
button,
input {
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

a {
  text-decoration: none;
}

.button {
  padding: 10px 20px;
  display: inline-block;
}

.no-sidebar .entry-content .alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
  width: auto;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.clear:after,
.entry-content:after,
.inside-header:not(.grid-container):after,
.inside-navigation:not(.grid-container):after,
.inside-top-bar:not(.grid-container):after,
.paging-navigation:after,
.site-content:after,
.site-header:after,
.site-info:after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
  z-index: 100;
  padding: 0;
  clear: both;
  display: block;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  text-transform: none;
  font-size: 15px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation .main-nav ul li a {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
}

.inside-navigation {
  position: relative;
}

.main-navigation li {
  float: left;
  position: relative;
}

.nav-aligned-center .main-navigation:not(.toggled) ul {
  letter-spacing: -0.31em;
  font-size: 1em;
}

.nav-aligned-center .main-navigation:not(.toggled) ul li {
  letter-spacing: normal;
}

.nav-aligned-center .main-navigation {
  text-align: center;
}

.main-navigation li.search-item {
  float: right;
}

.main-navigation .mobile-bar-items a {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
}

.main-navigation ul ul {
  display: block;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  float: left;
  position: absolute;
  left: -99999px;
  opacity: 0;
  z-index: 99999;
  width: 200px;
  text-align: left;
  top: auto;
  transition: opacity 80ms linear;
  transition-delay: 0s;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

.main-navigation ul ul a {
  display: block;
}

.main-navigation ul ul li {
  width: 100%;
}

.main-navigation .main-nav ul ul li a {
  line-height: normal;
  padding: 10px 20px;
  font-size: 14px;
}

.main-navigation .main-nav ul li.menu-item-has-children > a {
  padding-right: 0;
  position: relative;
}

.main-navigation:not(.toggled) ul li.sfHover > ul,
.main-navigation:not(.toggled) ul li:hover > ul {
  left: auto;
  opacity: 1;
  transition-delay: 150ms;
  pointer-events: auto;
  height: auto;
  overflow: visible;
}

.main-navigation:not(.toggled) ul ul li.sfHover > ul,
.main-navigation:not(.toggled) ul ul li:hover > ul {
  left: 100%;
  top: 0;
}

.menu-item-has-children .dropdown-menu-toggle {
  display: inline-block;
  height: 100%;
  clear: both;
  padding-right: 20px;
  padding-left: 10px;
}

.menu-item-has-children ul .dropdown-menu-toggle {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
}

.sidebar .menu-item-has-children .dropdown-menu-toggle {
  float: right;
}

.widget-area .main-navigation li {
  float: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.site-header {
  position: relative;
}

.inside-header {
  padding: 20px 40px;
}

.main-title {
  margin: 0;
  font-size: 25px;
  line-height: 1.2em;
  word-wrap: break-word;
  font-weight: 700;
  text-transform: none;
}

.site-description {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
  font-size: 15px;
}

.site-logo {
  display: inline-block;
  max-width: 100%;
}

.header-aligned-center .site-header {
  text-align: center;
}

.entry-content:not(:first-child) {
  margin-top: 2em;
}

.site-content {
  word-wrap: break-word;
}

.page-header > :last-child {
  margin-bottom: 0;
}

.entry-meta {
  font-size: 85%;
  margin-top: 0.5em;
  line-height: 1.5;
}

.entry-content > p:last-child {
  margin-bottom: 0;
}

iframe {
  max-width: 100%;
}

.one-container .comments-area {
  margin-top: 1.5em;
}

.widget-area .widget {
  padding: 40px;
}

.widget select {
  max-width: 100%;
}

.footer-widgets .widget :last-child,
.sidebar .widget :last-child {
  margin-bottom: 0;
}

.widget-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
}

.widget ul {
  margin: 0;
}

.widget {
  margin: 0 0 30px;
  box-sizing: border-box;
}

.separate-containers .widget:last-child,
.widget:last-child {
  margin-bottom: 0;
}

.footer-widgets .widget,
.sidebar .widget {
  font-size: 17px;
}

.widget ul li {
  list-style-type: none;
  position: relative;
  padding-bottom: 5px;
}

.widget_nav_menu ul ul {
  margin-left: 1em;
  margin-top: 5px;
}

.widget ul li.menu-item-has-children {
  padding-bottom: 0;
}

.sidebar .grid-container {
  max-width: 100%;
  width: 100%;
}

.post {
  margin: 0 0 2em;
}

.page-header {
  margin-bottom: 30px;
}

.one-container.both-left .inside-left-sidebar,
.one-container.both-right .inside-left-sidebar {
  margin-right: 20px;
}

.one-container.both-left .inside-right-sidebar,
.one-container.both-right .inside-right-sidebar {
  margin-left: 20px;
}

.one-container:not(.page) .inside-article {
  padding: 0 0 30px 0;
}

.one-container.both-right .site-main,
.one-container.right-sidebar .site-main {
  margin-right: 40px;
}

.one-container.both-left .site-main,
.one-container.left-sidebar .site-main {
  margin-left: 40px;
}

.one-container.both-sidebars .site-main {
  margin: 0 40px 0 40px;
}

.one-container .site-content {
  padding: 40px;
}

.separate-containers .comments-area,
.separate-containers .inside-article,
.separate-containers .page-header,
.separate-containers .paging-navigation {
  padding: 40px;
}

.separate-containers .page-header,
.separate-containers .site-main > *,
.separate-containers .widget {
  margin-bottom: 20px;
}

.separate-containers .site-main {
  margin: 20px;
}

.separate-containers.no-sidebar .site-main {
  margin-left: 0;
  margin-right: 0;
}

.separate-containers.both-right .site-main,
.separate-containers.right-sidebar .site-main {
  margin-left: 0;
}

.separate-containers.both-left .site-main,
.separate-containers.left-sidebar .site-main {
  margin-right: 0;
}

.separate-containers.both-left .inside-left-sidebar,
.separate-containers.both-right .inside-left-sidebar {
  margin-right: 10px;
}

.separate-containers.both-left .inside-right-sidebar,
.separate-containers.both-right .inside-right-sidebar {
  margin-left: 10px;
}

.separate-containers .inside-left-sidebar,
.separate-containers .inside-right-sidebar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inside-page-header {
  padding: 40px;
}

.widget-area .main-navigation {
  margin-bottom: 20px;
}

.one-container .site-main > :last-child,
.separate-containers .site-main > :last-child {
  margin-bottom: 0;
}

.site-info {
  text-align: center;
  font-size: 15px;
}

.site-info {
  padding: 20px 40px;
}

.footer-widgets {
  padding: 40px;
}

.footer-bar .widget_nav_menu > div > ul {
  display: inline-block;
  vertical-align: top;
}

.footer-bar .widget_nav_menu li {
  margin: 0 10px;
  float: left;
  padding: 0;
}

.footer-bar .widget_nav_menu li:first-child {
  margin-left: 0;
}

.footer-bar .widget_nav_menu li:last-child {
  margin-right: 0;
}

.footer-bar .widget_nav_menu li ul {
  display: none;
}

.footer-bar .textwidget p:last-child {
  margin: 0;
}

.footer-bar .widget-title {
  display: none;
}

.page-header-image,
.page-header-image-single {
  line-height: 0;
}

.one-container .inside-article > [class*="page-header-"],
.separate-containers .inside-article > [class*="page-header-"] {
  margin-bottom: 2em;
  margin-top: 0;
}

.separate-containers .page-header-contained,
.separate-containers .page-header-content-single,
.separate-containers .page-header-image,
.separate-containers .page-header-image-single {
  margin-top: 20px;
}

.top-bar {
  font-weight: 400;
  text-transform: none;
  font-size: 13px;
}

.top-bar .inside-top-bar .widget {
  padding: 0;
  display: inline-block;
  margin: 0;
}

.top-bar .inside-top-bar .textwidget p:last-child {
  margin: 0;
}

.top-bar .widget-title {
  display: none;
}

.top-bar .widget_nav_menu li {
  margin: 0 10px;
  float: left;
  padding: 0;
}

.top-bar .widget_nav_menu li:first-child {
  margin-left: 0;
}

.top-bar .widget_nav_menu li:last-child {
  margin-right: 0;
}

.top-bar .widget_nav_menu li ul {
  display: none;
}

.top-bar .widget_nav_menu > div > ul {
  display: inline-block;
  vertical-align: top;
}

.inside-top-bar {
  padding: 10px 40px;
}

.container.grid-container {
  width: auto;
}

.fl-builder-content *,
.fl-builder-content *:before,
.fl-builder-content *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fl-row:before,
.fl-row:after,
.fl-row-content:before,
.fl-row-content:after,
.fl-col-group:before,
.fl-col-group:after,
.fl-col:before,
.fl-col:after,
.fl-module:before,
.fl-module:after,
.fl-module-content:before,
.fl-module-content:after {
  display: table;
  content: " ";
}

.fl-row:after,
.fl-row-content:after,
.fl-col-group:after,
.fl-col:after,
.fl-module:after,
.fl-module-content:after {
  clear: both;
}

.fl-row,
.fl-row-content {
  margin-left: auto;
  margin-right: auto;
}

.fl-row-content-wrap {
  position: relative;
}

.fl-col-group-equal-height,
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fl-col-group-equal-height {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.fl-col-group-equal-height .fl-col-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-shrink: 1;
  min-width: 1px;
  max-width: 100%;
  width: 100%;
}

.fl-col-group-equal-height:before,
.fl-col-group-equal-height .fl-col:before,
.fl-col-group-equal-height .fl-col-content:before,
.fl-col-group-equal-height:after,
.fl-col-group-equal-height .fl-col:after,
.fl-col-group-equal-height .fl-col-content:after {
  content: none;
}

.fl-col {
  float: left;
  min-height: 1px;
}

.fl-module img {
  max-width: 100%;
}

.fl-row-content-wrap {
  margin: 0;
}

.fl-row-content-wrap {
  padding: 20px;
}

.fl-row-fixed-width {
  max-width: 1100px;
}

.fl-col-content {
  margin: 0;
}

.fl-col-content {
  padding: 0;
}

.fl-module-content {
  margin: 20px;
}

@media (max-width: 768px) {
  .fl-row-content-wrap {
    background-attachment: scroll !important;
  }

  .fl-col-group.fl-col-group-equal-height {
    display: block;
  }

  .fl-col {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
  }

  .fl-row[data-node] .fl-row-content-wrap {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fl-col[data-node] .fl-col-content {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.fl-module-heading .fl-heading {
  padding: 0 !important;
  margin: 0 !important;
}

.fl-node-61b6d2a9352a2 > .fl-row-content-wrap {
  background-color: #fff;
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #000;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.fl-node-61b6d2a9352a2.fl-row-fixed-width,
.fl-node-61b6d2a9352a2 .fl-row-fixed-width {
  max-width: 1000px;
}

.fl-node-61b6d2a9352a7 {
  width: 100%;
}

.fl-node-61b6d2a9352b0 {
  width: 100%;
}

.fl-node-61b6d2a9352b0 > .fl-col-content {
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #a5cbf7;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 768px) {
  .fl-node-61b6d2a9352b0.fl-col > .fl-col-content {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

.fl-node-61b6d2a9352cf {
  width: 100%;
}

.fl-node-61b6d2a9352cf > .fl-col-content {
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #a5cbf7;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fl-node-61b6d2a9352cf > .fl-col-content {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .fl-node-61b6d2a9352cf.fl-col > .fl-col-content {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

.fl-node-61b6d2a9352c0.fl-module-heading .fl-heading {
  font-size: 38px;
  text-align: center;
}

@media (max-width: 768px) {
  .fl-node-61b6d2a9352c0.fl-module-heading .fl-heading {
    font-size: 20px;
  }
}

.fl-node-61b6d2a9352c0 > .fl-module-content {
  margin-bottom: 0;
}

.fl-node-61b6d2a9352c1 > .fl-module-content {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 20px;
}

.fl-node-61b73a84e19db > .fl-module-content {
  margin-top: 0;
}

.fl-node-61b6d2a9352c8.fl-module-heading .fl-heading {
  font-size: 30px;
  text-align: center;
  font-variant: small-caps;
}

.fl-node-61b6d2a9352c8 > .fl-module-content {
  margin-bottom: 0;
}

.fl-node-61b6d2a9352cc.fl-module-heading .fl-heading {
  font-size: 30px;
  text-align: center;
  font-variant: small-caps;
}

.fl-node-61b6d2a9352cc > .fl-module-content {
  margin-bottom: 0;
}

.clear,
.grid-container:after {
  clear: both;
}

@-ms-viewport {
  width: auto;
}

.clear {
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.grid-container:after,
.grid-container:before {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-parent {
  padding-left: 0;
  padding-right: 0;
}
